*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://miro.medium.com/max/1400/0*GMReHtD9mDbpl54Q);
}

.message{
    display: none;
}

.message-box{
    border: 4px dashed yellow;
    width: 600px;
    height: 400px;
    background-color: white;
    margin-left: 30%;
    overflow: auto;
}

textarea{
    margin-left: 20px;
    margin-top: 10px;
}

.gonder{
    margin-left: 10px;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    color: rgb(201, 112, 12);
}

.login input{
  margin-left: 60px;
   margin-top: 20px;
   width: 220px;
   height: 40px;
}

.daxil{
   margin-left: 60px;
   margin-top: 40px;
   
}

.input{
    background-image: url(https://media.istockphoto.com/id/1180453835/photo/blur-orange-texture-background.jpg?s=612x612&w=0&k=20&c=8wLIyL8cXzqm-oFeXQJTexiXkZ5maXJLXadatwYhOoQ=);
    width: 350px;
    height: 350px;
    margin: auto;
    padding-top: 40px;
    margin-top: 50px;
}

.yumru{
    border: 2px dashed black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 20px;
}

